.post-comments-form-textarea {
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
}

.post-comments {
    
}

.post-comment {
    color: #444;
    font-size: 12px;
    line-height: 20px;
    background-color: #ffff9f;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.post-comment-content {
    font-style: italic;
}

.post-comments-form {
    margin-top: 16px;
    text-align: right;
}

.post-comments-form-textarea {
    display: block;
    resize: none;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.post-comments-form-button {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #27ae60;
    color: #eee;
    cursor: pointer;
}